菜鸟智慧系统

[问题描述]
使用双向链表模拟快递驿站的系统运作：
+   假设快递驿站的货架分小、中、大3种类型，容量分别为500、100、50个包裹；
    该快递站关联的社区人员为MAX_PERSON人(例如，限定为30人，每人唯一手机号)。

+   驿站每天都会来一批新的包裹。
    包裹根据大小类型分别上对应的货架，加入对应链表表尾，并使用该货架当前可用的最小编号。
    用N[1]、N[2]、N[3]分别表示每天随机来的大、中、小包裹数量，保证N[i]在货架的承受能力之内。
    
+   包裹信息包括：
        包裹编号( 生成的取件码，分别为 1-x(小) 2-x(中) 3-x(大) )、
        取件人姓名、
        取件人手机号、
        包裹大小(小1、中2、大3)、
        到达日期。

+   包裹上架时，按照包裹编号从小到大的顺序排列。 
+   包裹取出后就从对应链表中删除。用M表示每天随机来取包裹的人数，且M≤MAX_PERSON。
+   包裹最多在驿站存放两天，逾期则退还寄件人(从货架上清除)。
+   当一人来取包裹时，可通过提供其任一取件码或手机号查询包裹并取出该人员所有关联的包裹。
+   设计相应的分析、统计功能(自定义)，例如当天收包裹数量最多的人，当天有包裹人的平均包裹数量，一周内与其被退回的包裹数量等。
+   可根据需要做功能拓展，使得模拟系统更接近实用或在现有商用快递系统的基础上有针对性的创新(*)
+   该问题需有较好的展示性，能够演示快递收发过程。

[基本要求]
1. 所有事件均随机生成
2. 用文件存储货架状态，所有变更均应反应在文件中。存储形式自行设计，但务必清晰、直观
